@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");

/* Mediaquery mobile first */

.container {
  width: 100vw;
  height: 100vh;
  background: #bfd732;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 315px;
  z-index: 3;
}

.saly {
  width: 315px;
  height: 360px;
  position: relative;
}

.saly1 {
  width: 336px;
  height: auto;
  position: absolute;
  top: -123px;
  left: -14px;
  z-index: 1;
}

.doodle {
  width: 178px;
  position: absolute;
  top: -28px;
}

.doodle2 {
  width: 130px;
  position: absolute;
  top: 242px;
  left: 100px;
}

.ellipse {
  position: absolute;
  top: -60px;
  left: 50px;
  z-index: 2;
}

.logIn {
  width: 315px;
  height: 55px;
  margin-top: 17px;
  mix-blend-mode: normal;
  border: 2px solid #444444;
  border-radius: 40px;
}

.logIn p {
  width: 100%;
  height: 55px;
  text-align: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #444444;
  mix-blend-mode: normal;
}

.signUp {
  width: 315px;
  height: 55px;
  margin-top: 17px;
  background: #444444;
  mix-blend-mode: normal;
  border-radius: 40px;
}

.signUp p {
  width: 100%;
  height: 55px;
  text-align: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #f5f6f7;
}

/* Mediaquery */

@media screen and (min-width: 768px) {
  .saly1 {
    left: 200px;
  }

  .ellipse {
    left: 250px;
  }

  .doodle {
    left: 200px;
  }

  .doodle2 {
    left: 300px;
  }
}
@media screen and (min-width: 820px) {
  .saly1 {
    left: 220px;
  }

  .ellipse {
    left: 270px;
  }

  .doodle {
    left: 220px;
  }

  .doodle2 {
    left: 320px;
  }
}

/* Mediaquery horizontal */

@media screen and (min-height: 360px) and (min-width: 600px) {
  .title {
    margin-top: 17px;
  }

  .saly{
    height: 190px;
  }

  .saly1 {
    width: auto;
    height: 350px;
    left: 40px;
    top: -122px;
  }

  .ellipse {
    top: -110px;
    left: 50px;
  }

  .doodle {
    width: 150px;
    top: -85px;
    left: -10px;
  }

  .doodle2 {
    top: 33px;
    left: -43px;
  }

  .signUp {
    z-index: 2;
  }

  .logIn {
    margin-bottom: 17px;
    z-index: 2;
  }
  .logIn p {
    height: auto;
  }
}

@media screen and (min-width: 1000px) {
  .principal {
    width: 886px;
    height: 514px;
    border: 2px solid #444444;
    border-radius: 40px;
    display: flex;
  }

  .images {
    width: 487.3px;
    height: 100%;
    position: relative;
  }

  .salySvg {
    position: absolute;
    width: 784px;
    height: auto;
    top: -150px;
    left: -179px;
  }

  .doodle {
    position: absolute;
    width: 221.08px;
    top: 10px;
    left: -95px;
    transform: rotate(-5.8deg);
  }

  .doodle2 {
    width: 245px;
    height: 250px;
    transform: rotate(54.34deg);
    top: 0px;
    left: 760px;
  }

  .doodle3 {
    position: absolute;
    width: 195.19px;
    height: auto;
    top: -125px;
    left: 370px;
    transform: rotate(-2deg);
  }

  .titleDesktop {
    width: 398.7px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    width: 248.37px;
    margin-bottom: 35px;
  }
}
